Repository potenday-a4mango/intoonpocket, pull requests merged in 2024-01, with the labels that each got.

#3 [Init] back end ncp mysql 연동 및 querydsl, rest docs 환경 설정
  .idea/.gitignore
  .idea/aws.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/temp-title.iml
  .idea/vcs.xml
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/temptitle/backend/BackendApplication.java
  backend/src/test/java/com/temptitle/backend/BackendApplicationTests.java
Labels: setting, backend

#5 [Infra] WorkController.java 파일 생성 및 테스트용 GetMapping 생성
  .idea/compiler.xml
  .idea/gradle.xml
  .idea/intoonpocket.iml
  .idea/jarRepositories.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/modules/backend.main.iml
  backend/src/main/java/com/intoonpocket/backend/BackendApplication.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/controller/WorkController.java
Labels: backend, infra

#6 [Infra] 서버 응답 확인용 DTO 생성
  .idea/uiDesigner.xml
  backend/src/main/java/com/intoonpocket/backend/domain/work/controller/WorkController.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/InfraResponseDto.java
  backend/src/test/java/com/intoonpocket/backend/BackendApplicationTests.java
Labels: backend, infra

#10 [Infra] backend CORS 설정
  .idea/gradle.xml
  .idea/misc.xml
  backend/src/main/java/com/intoonpocket/backend/config/WebConfig.java
Labels: backend, infra

#14 [Infra] backend cors 정책 수정
  backend/src/main/java/com/intoonpocket/backend/config/WebConfig.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/controller/WorkController.java
  frontend/src/App.tsx
Labels: backend, frontend, infra

#15 [Infra] 공인 IP에 port 추가
  backend/src/main/java/com/intoonpocket/backend/config/WebConfig.java
  frontend/src/App.tsx
Labels: backend, frontend, infra

#16 [Infra] CORS 허가 frontend port 수정
  backend/src/main/java/com/intoonpocket/backend/config/WebConfig.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/controller/WorkController.java
Labels: backend, infra

#18 [Feature] 작품 전체 조회 API 구현
  .idea/dataSources.xml
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/intoonpocket/backend/config/QuerydslConfig.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/controller/WorkController.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/InfraResponseDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/WorkAllResponseDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/info/WorkHashtagInfo.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/entity/Author.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/entity/Category.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/entity/Hashtag.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/entity/Subject.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/entity/Work.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/service/WorkService.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/service/impl/WorkServiceImpl.java
Labels: backend, feature

#20 [Feature] 작품 메인 페이지 기본 설정
  frontend/.eslintrc.js
  frontend/.prettierrc
  frontend/README.md
  frontend/package-lock.json
  frontend/package.json
  frontend/public/index.html
  frontend/public/logo192.png
  frontend/public/logo512.png
  frontend/public/manifest.json
  frontend/src/App.css
  frontend/src/App.test.tsx
  frontend/src/App.tsx
  frontend/src/api/client.ts
  frontend/src/api/maincard.ts
  frontend/src/components/Category.tsx
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/layouts/MainHeader.tsx
  frontend/src/logo.svg
  frontend/src/pages/Home.tsx
  frontend/src/pages/Result.tsx
  frontend/src/pages/Search.tsx
  frontend/src/reportWebVitals.ts
  frontend/src/setupTests.ts
  frontend/tsconfig.json
Labels: frontend, feature

#22 [Feature & Refactor] 작품 카테고리 중복 허용 & 전체 조회 API 리팩토링
  .idea/compiler.xml
  .idea/misc.xml
  .idea/modules/backend.main.iml
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/WorkAllResponseDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/WorkElement.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/info/WorkHashtagInfo.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/entity/Work.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/entity/WorkCategory.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/entity/WorkSubject.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/service/impl/WorkServiceImpl.java
Labels: backend, feature, refactor

#25 [Feature] 검색 API 구현 & 전체 작품 조회 url 누락 반영
  backend/src/main/java/com/intoonpocket/backend/domain/work/controller/WorkController.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/WorkAllResponseDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/WorkSearchDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/WorkSearchResponseDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/service/WorkService.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/service/impl/WorkServiceImpl.java
Labels: backend, feature

#31 [Feature] 작품 클릭 시 조회수 증가 API 구현 및 etc
  backend/.gitignore
  backend/src/main/java/com/intoonpocket/backend/config/WebConfig.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/controller/WorkController.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/CountRequestDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/service/WorkService.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/service/impl/WorkServiceImpl.java
Labels: backend, feature, refactor

#32 [Feature] 검색 페이지 구현
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/Card.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/components/SearchCard.tsx
  frontend/src/components/SearchHistory.tsx
  frontend/src/pages/Search.tsx
  frontend/src/recoil/recoilPersist.ts
  frontend/src/recoil/searchHistory/atom.ts
  frontend/src/recoil/searchHistory/index.ts
  frontend/src/recoil/searchHistory/types.ts
  frontend/src/types/home.ts
  frontend/src/types/search.ts
Labels: frontend, feature

#34 [Feature] 백엔드 예외 처리
  backend/build.gradle
  backend/src/main/java/com/intoonpocket/backend/common/exception/errorcode/CommonErrorCode.java
  backend/src/main/java/com/intoonpocket/backend/common/exception/errorcode/CustomErrorCode.java
  backend/src/main/java/com/intoonpocket/backend/common/exception/errorcode/ErrorCode.java
  backend/src/main/java/com/intoonpocket/backend/common/exception/handler/CustomExceptionHandler.java
  backend/src/main/java/com/intoonpocket/backend/common/exception/response/ExceptionResponseDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/controller/WorkController.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/request/CountRequestDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/response/WorkAllResponseDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/response/WorkElement.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/response/WorkSearchDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/response/WorkSearchResponseDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/exception/InvalidWorkIdException.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/service/WorkService.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/service/impl/WorkServiceImpl.java
Labels: backend, feature
