Repository potenday-a4mango/intoonpocket, pull requests merged in 2024-02, with the labels that each got.

#38 [Infra] 백엔드 로컬 및 서버 도메인 연결&https 작업
  .gitignore
  .idea/encodings.xml
  backend/src/main/java/com/intoonpocket/backend/BackendApplication.java
Labels: backend, infra

#40 [Feature] 작품 검색 조건에 카테고리 추가
  backend/src/main/java/com/intoonpocket/backend/domain/work/service/impl/WorkServiceImpl.java
  intoonpocket.p12
Labels: backend, feature

#41 [Chore] 백엔드 로컬 https 인증키 제거
  backend/.gitignore
  intoonpocket.p12
Labels: setting, backend

#45 [Test] 백엔드 API 단위 테스트 및 커버리지 체크
  backend/build.gradle
  backend/src/main/java/com/intoonpocket/backend/domain/work/controller/WorkController.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/response/WorkAllResponseDto.java
  backend/src/test/java/com/intoonpocket/backend/domain/work/controller/WorkControllerTest.java
Labels: backend, test

#51 [Docs/Test] Swagger OpenAPI 적용
  backend/build.gradle
  backend/src/main/java/com/intoonpocket/backend/BackendApplication.java
  backend/src/main/java/com/intoonpocket/backend/common/exception/response/ExceptionResponseDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/controller/WorkController.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/request/CountRequestDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/response/WorkAllResponseDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/response/WorkSearchResponseDto.java
  backend/src/main/java/com/intoonpocket/backend/swagger/CommonApiResponses.java
  backend/src/main/java/com/intoonpocket/backend/swagger/SwaggerConfig.java
Labels: documentation, backend

#52 [refactor] API 호출 문제 해결 및 전반적인 수정
  frontend/public/thumbnail.png
  frontend/src/App.tsx
  frontend/src/api/maincard.ts
  frontend/src/api/search.ts
  frontend/src/assets/images/back-arrow.svg
  frontend/src/assets/images/count-image.svg
  frontend/src/assets/images/logo.svg
  frontend/src/assets/images/on-boarding-image.svg
  frontend/src/assets/images/search-glasses.svg
  frontend/src/components/BackArrow.tsx
  frontend/src/components/Card.tsx
  frontend/src/components/Category.tsx
  frontend/src/components/Filter.tsx
  frontend/src/components/NoResult.tsx
  frontend/src/components/Onboarding.tsx
  frontend/src/components/SearchResultCard.tsx
  frontend/src/constants/category.ts
  frontend/src/hooks/useResetCategory.ts
  frontend/src/hooks/useResetFiltering.ts
  frontend/src/layouts/MainHeader.tsx
  frontend/src/layouts/SearchHeader.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/Result.tsx
  frontend/src/pages/Search.tsx
  frontend/src/recoil/cardList/atom.ts
  frontend/src/recoil/recoilPersist.ts
  frontend/src/recoil/resultList/atom.ts
  frontend/src/style/global.css
Labels: frontend, refactor

#54 [Refactor] 이미지 화질 수정
  frontend/src/components/BackArrow.tsx
  frontend/src/components/Card.tsx
  frontend/src/components/Onboarding.tsx
  frontend/src/components/SearchBar.tsx
  frontend/src/components/SearchHistory.tsx
  frontend/src/components/SearchResultCard.tsx
  frontend/src/layouts/MainHeader.tsx
  frontend/src/layouts/SearchHeader.tsx
  frontend/src/pages/Home.tsx
  frontend/src/pages/Result.tsx
  frontend/src/pages/Search.tsx
Labels: frontend, refactor

#56 [chore] 썸네일 사진 수정
  frontend/public/thumbnail.png
Labels: frontend, refactor

#59 [Feature] 작품 등록 전 사용자에게 표시할 항목 리스트 조회 API 구현
  .gitignore
  backend/src/main/java/com/intoonpocket/backend/domain/work/controller/WorkController.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/response/info/AuthorDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/response/info/CategoryDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/response/info/SubjectDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/dto/response/info/WorkRegisterInfoDto.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/service/WorkService.java
  backend/src/main/java/com/intoonpocket/backend/domain/work/service/impl/WorkServiceImpl.java
  backend/src/test/java/com/intoonpocket/backend/domain/work/controller/WorkControllerTest.java
  frontend/README.md
Labels: documentation, backend, feature, test
